/* .card-container{
    /* display: flex;
    flex-direction: row;  */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px; 
    
    
   
    
} */
.card{
    background-color: white;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-right:40px;
    
     
}
.card:hover{
    background-color: lightgray;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
    margin-right:40px;
    color: black;
     
}
.image{
    width: 100px;
    text-align: center;
}