.secondary-header{
    text-align: center;
    background: black;
    padding: 20px;
   color: white;
    
    
}
.header{
    
    background-color: black;
    line-height: 80px;
    display: flex;
    align-items: center;
    
    
}
.header nav a{
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}
.header nav a:hover{
    
    background-color: lightgray;
    color: black;
    
    padding: 15px;
}
.header nav{
    margin-left: 750px;
}
.Logo{
    color: white;
    margin-left: 20px;
    font-weight: 800;
    font-size: 25px;
}